* {
	margin:0;
	padding: 0;
	border: 0;
}

header {
	background: beige;
	padding: 10px 0;
  position: relative;
}

header nav ul li {
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.938em;;
	font-weight: bold;
}

body {
  background-color: aqua;
  text-align: center;
}

main, h3 {
  font-style: italic;
  box-shadow: 5px 10px;
  padding-top: 300px;
  animation: fadein 5s;
}

footer {
  color: darkgreen;
  padding: 600px 0px 0px 0px;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
