* {
	margin:0;
	padding: 0;
	border: 0;
}

header {
	background: beige;
	padding: 10px 0;
	position: fixed;
	left: 0;
	right: 0;
}

header nav ul li {
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.938em;;
	font-weight: bold;
}
